<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.newapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Newapplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity
            android:name=".Gallery"
            android:label="Dashboard" />
        <activity
            android:name=".FileImport"
            android:label="Leadership" />
        <activity
            android:name=".SlideShow"
            android:label="Grihasti" />
        <activity
            android:name=".Ssy"
            android:label="Siddha Samadhi Yog" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>